
.hide {
    display: none;
  }
  .car , .enemy {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: rgb(171, 19, 19);
   
    background-size: cover;
  }
  .gameArea {
    background-color: black;
    width: 500px;
    height: 70%;
    overflow: hidden;
    position: absolute;
    margin: auto;
    left: 37%;
  }
  .line {
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    background-color: white;
  }
  .score {
   
    height: 70px;
    text-align: center;
    color: yellow;
    font-size: 1.5em;
    font-family: fantasy;
  }
  .startScreen {
    font-size: large;
    text-align: center;
    padding: 15px;
    margin: auto;
   
   
  }
